@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
}
.book {
  min-height: 100vh;
}
a{
  text-decoration: none;
  display: inline-block;
}
.routing {
  display: flex;
  justify-content: space-around;
  color: #fff;
  margin-bottom: 10px;

}
.routing a {
  background-color: #a1a1a1;
  padding: 0 10px 0 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  cursor: pointer;
}
.routing a.dis{
  cursor: default;
}
ul, li{
  list-style: none;
  margin: 0;
  padding: 0;
}
.book-inner {
  min-width: 300px;
  margin-top: 15px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.book__left-img img {
  margin-right: 15px;
  height: 350px;
  min-height: 350px;
}
.book__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  font-size: 25px;
  line-height: 48px;
  text-align: left;
  max-width: 170px;
}
.book__right-title {
  font-size: 35px;
  margin-left: 20px;
  margin-bottom: 10px;
}
.book__right-text {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.book__right__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 10px;
}
.book__right-link {
  color: #2da89b;
  background-color: #fff;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 0 10px 0 10px;
}
