<div class="book">
  <div class="container">
    <div class="book-inner">
      <div class="book__left-img"><img src="assets/img/landau.jpg" alt="LOGO"></div>
      <div class="book__right">
        <div class="book__right-title">BOOK</div>
        <div class="book__right-text">Lorem ipsum dolor sit amet.</div>
        <div class="book__right__bottom">
          <div class="book__right-price">$300</div>
          <div class="book__right-link">BUY</div>
        </div>
      </div>
    </div>
  </div>
</div>
