<div class="book">
  <div class="container">
    <div class="book-inner" *ngIf="show">
      <div class="book__left-img"><img src="{{books[id - 1].imageUrl}}" alt="LOGO"></div>
      <div class="book__right">
        <div class="book__right-title"> {{ books[id - 1].title }} </div>
        <div class="book__right-text"> {{ books[id - 1].text }} </div>
        <div class="book__right__bottom">
          <div class="book__right-price">{{"$" + books[id - 1].price }}</div>
          <a class="book__right-link" href="{{ books[id - 1].link }}"> BUY NOW </a>
        </div>
      </div>
    </div>
    <div class="routing">
      <a (click)="goPrev()"> GO PREV </a>
      <a (click)="goNext()"> GO NEXT </a>
    </div>
  </div>
</div>
