<div class="banner">
  <div class="container">

  <div class="carousel-container">
    <igx-carousel>
      <igx-slide *ngFor="let banner of bannerList">

        <div class="slider__item-content">
          <img src='{{ banner.imageUrl }}' alt="IMAGE">
          <div class="slider__item-right">
            <div class="slider__title">
              {{ banner.title }}
            </div>
            <div class="slider__text">
              {{ banner.text }}
            </div>
            <a href='{{ banner.link }}' class="slider__link">LEARN NOW</a>
          </div>
        </div>

      </igx-slide>
    </igx-carousel>
  </div>
  </div>
</div>
