<div class="banner">
  <div class="container">

  <div class="carousel-container">
    <igx-carousel>
      <igx-slide>

        <div class="slider__item-content">
          <img src="./assets/img/banner.png" alt="IMAGE">
          <div class="slider__item-right">
            <div class="slider__title">
              Newest rocket science lectures
            </div>
            <div class="slider__text">
              Legendary Neil Tyson's heuristics lectures
            </div>
            <a href="#" class="slider__link">LEARN NOW</a>
          </div>
        </div>
      </igx-slide>

      <igx-slide>
        <div class="slider__item-content">
          <img src="img/banner.png" alt="IMAGE">
          <div class="slider__item-right">
            <div class="slider__title">
              Newest rocket science lectures
            </div>
            <div class="slider__text">
              Legendary Neil Tyson's heuristics lectures
            </div>
            <a href="#" class="slider__link">LEARN NOW</a>
          </div>
        </div>

      </igx-slide>
    </igx-carousel>
  </div>
  </div>
</div>
