<div class="merch">
  <div class="container">
    <div class="merch_navigation">
      <div class="merch_navigation-ul" *ngFor="let select of selectors">
        <p (click)="filter(select)" [ngClass]="{'chosen': select.isChosen }">{{ select.text }}</p>
      </div>
    </div>
    <div class="merch__items" *ngIf="display">
      <div class="merch__item" *ngFor="let book of (books|filter: currentSelector.defaultId)">
        <div class="item-name">{{ book.title }}</div>
        <div class="merch__item-img"><img src='{{ book.imageUrl }}' alt=""></div>
        <div class="merch__item-bottom">
          <div class="item-price">{{"$" + book.price }}</div>
          <a (click)="onSelect( book.id + 1)" class="item-button"> BUY NOW</a>
        </div>
      </div>
    </div>
  </div>
</div>

