@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
  font-family: 'Roboto', sans-serif;
}
.buttons {
  margin-bottom: 5rem;
}

html, body {
  height: 100%;
}
body {
  background-color: #40c4b4;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container{
  max-width: 1024px;
  margin: 0 auto;
}
