*{
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
}
a{
  text-decoration: none;
  display: inline-block;
}

ul, li{
  list-style: none;
  margin: 0;
  padding: 0;
}
.account-title{
  margin: 25px auto 45px;
  text-align: center;
  color:#fff;
  line-height: 30px;
  font-size: 21px;
  padding-left: 20px;
  padding-right: 20px;
  transition: all 0.3s;
  outline: none;
  border: none;
  letter-spacing: 1px;
}

.status{
  color:#fff;
  line-height: 19px;
  font-size: 21px;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  transition: all 0.3s;
  outline: none;
  border: none;

  display: flex;
  justify-content: center;
  flex-direction: column;
}
.status li {
  text-align: left;
  margin-left: 40%;
  padding: 8px;
}

.cv{
  margin: 0 0 8.0pt;
  line-height: 107%;
  font-size: 15px;
}
.title {
  text-align: center;
}
