<div class="account_info">
  <div class="container">
    <ul *ngIf="isActive" class="status">
      <p class="account-title"> PERSONAL INFO:</p>
      <br>
      <li>NAME: {{ user.name }}</li>
      <li>E-MAIL: {{ user.eMail}}</li>
      <li>PHONE NUMBER: +380504219990</li>
      <li>SEX: {{ user.sex }}</li>
      <li>BD: {{ user.dateOfBirth }}</li>
    </ul>
    <p class="account-title">
      Hint: to login enter username:"admin" and password:"admin"
      <br>
      <br>
      FROM AUTHOR: This website has been made as my first pet-project. Here I show some technologies that I know. Technologies I can use are: Spring (DI, IOC),
      Java (Java CLI, Java Core, Multithreading, Collections, IO, Java 8), Git (GitHub). I also do know main aspects of OOP (SOLID, GRASP).
    </p>
  </div>
</div>
