<div class="account_info">
  <div class="container">
    <ul *ngIf="isActive" class="status">
      <p class="account-title"> PERSONAL INFO:</p>
      <br>
      <li>NAME: {{ user.name }}</li>
      <li>E-MAIL: {{ user.eMail}}</li>
      <li>PHONE NUMBER: +380504219990</li>
      <li>SEX: {{ user.sex }}</li>
      <li>BD: {{ user.dateOfBirth }}</li>
    </ul>
    <p class="account-title">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis nobis ipsam aspernatur velit
      voluptatum excepturi libero possimus expedita architecto, exercitationem molestias, voluptates dolores?
      Suscipit velit id accusantium obcaecati. Temporibus, debitis illum ab dolores, praesentium eos optio id
      cumque voluptatem consectetur quasi dicta. Cupiditate sed maiores qui odio illo! Quae nisi dolore sed
      nemo, unde minima maxime aperiam quos qui. Sequi, nihil magnam eius, cupiditate exercitationem quaerat
      architecto nisi, qui fuga velit quos! Velit commodi voluptates officiis ex sapiente veritatis eligendi,
      quam aliquam alias nulla nisi quisquam omnis suscipit eos, voluptatibus autem fugiat maxime eaque quia
      tenetur fugit? Blanditiis, illum facilis. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      Totam alias a tempore tempora nulla tenetur delectus facilis, dolore omnis sapiente iusto deserunt
      corrupti laboriosam ipsa! Rerum molestiae similique hic ipsam?
      Iusto asperiores illum impedit fuga laudantium, labore reiciendis cupiditate nihil eaque tempora,
      eveniet sed optio laboriosam! Esse ducimus explicabo possimus laudantium necessitatibus delectus, rem
      vero laboriosam totam modi tempore rerum!
      Nostrum assumenda recusandae sint neque, illo omnis dolorem quo hic. Dolorem, ratione repellendus in
      omnis quisquam tempore, numquam exercitationem consequatur recusandae, vitae aut beatae maxime facere
      officia. Voluptas, repellendus sequi.
      Doloribus, sint tempora, saepe est at id voluptate esse cum sit quasi quaerat autem, a officia nesciunt
      illum. Alias vitae error eius maiores consequuntur placeat perferendis quos quod inventore nesciunt.
      Qui nemo nostrum voluptate est a facere voluptatibus voluptatum, amet repellendus ipsa, nulla
      recusandae, totam impedit ut. Facilis nihil officiis, iste deserunt sit hic quaerat optio quo, odit illo
      accusamus.
      Sapiente magni perferendis vel eaque aut voluptatem rerum, ea eius fugiat maiores inventore quisquam
      officiis exercitationem accusantium obcaecati iusto. Eaque quam voluptatem dolor tempora, cumque ab ut
      fuga repellat odio.
      Illum enim voluptate voluptates, dolor quia amet. Optio quod nostrum necessitatibus blanditiis doloribus
      aut ab repudiandae, earum expedita nemo error porro a corrupti, architecto delectus quis deleniti
      perferendis cumque! Nemo?
      Eaque aut et obcaecati maiores! Necessitatibus ratione adipisci, nihil obcaecati id beatae minus
      voluptate, iste unde ad, voluptas quae. Dignissimos dicta odio neque nulla debitis omnis ea explicabo
      quidem harum!
      Ducimus hic quidem incidunt quos tenetur totam? Impedit vel ex eveniet eos porro sapiente eaque sit
      quisquam velit a, non laboriosam esse consectetur delectus quam! Odio accusantium reprehenderit illo
      unde.
      Dolorum enim culpa a explicabo accusamus placeat. Perspiciatis sequi odio explicabo rem dolores quo
      corporis dolore fuga iure tempora eius nulla nesciunt, est incidunt. Tempora, quaerat? Ipsa,
      necessitatibus. Expedita, accusantium!
      Quis quasi repudiandae at nulla qui unde, nisi esse illo aperiam enim eius necessitatibus facilis
      obcaecati itaque sed quibusdam aspernatur quidem, fugit culpa ea eum rerum ex optio. Nihil, quo.
      Repudiandae tenetur non sunt, suscipit consequatur ex perspiciatis culpa incidunt odit error natus hic
      quia id praesentium tempora qui molestias nemo rerum modi cum. Deleniti adipisci quidem exercitationem
      iure unde?
      Asperiores delectus in totam minima magni fugit provident, maxime perferendis expedita eius molestiae
      magnam neque repellendus numquam qui placeat nostrum iste dolorum temporibus quas architecto. Ducimus,
      earum. Alias, repudiandae neque?
      Harum recusandae cum rem suscipit quidem molestiae illum blanditiis enim omnis quas? Aut quasi beatae et
      voluptate amet, officiis aliquid voluptas quod voluptates earum eos animi quos possimus doloribus
      nostrum.
      Pariatur sapiente facere dicta dolor laboriosam tempore consectetur ipsa eos voluptatum neque libero,
      temporibus non nam architecto quia ipsam iusto accusantium, ea at
    </p>
  </div>
</div>
